    <script>CKEDITOR.replace("text")</script>
    <!-- <script src="/javascripts/function.js"></script>
    <script src="/javascripts/script.js"></script> -->
    <script src="/javascripts/fetchAPI.js"></script>
</body>
</html>